


/* <div class="flex-container flex-container_title">
<div class="title">
    <h1>Placeholder</h1>
    <h2>lang 1</h2>

<main>
<div class="flex-container outer">
<div class="flex-container inner">
    <div class="content word-definition">
        <details class="word-definition">
            <summary><a href="#" class="word">word</a></summary>
            <hr>
            <p class="definition"> */




/* 
testing, like checking boundaries
 */

/* .flex-container,
.content,
.title {
    border: black solid 1px;
} */

.flex-container.inner {
    /* border: 2px orangered solid; */
}

.content {
    /* background-color: aliceblue; */
}




colors {
    color: rgb(109, 168, 202);
    color: rgb(45, 95, 128);
}




        
/* 
the structure of the page
 */

.flex-container.outer {
    margin: 50px 0;
}

.title-container {
    width: 1000px;
}
.flex-container.inner {
    width: 900px;
}

.flex-container,
.content {
    display: flex;
    justify-content: center;
}

.content {
    padding: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    margin: 0 20px 0 40px;
}






/* 
content such as text and title
 */

header,
section.grammar {
    background-color: aliceblue;
    box-shadow: 0 0 2px 0 teal;
    margin-top: 50px;
}

.title-container {
    padding: 10px 10px 10px 70px;
}


h1, 
a.title,
h2 {
    margin: 0;
}

h1,
a.title {
    font-size: 100px;
    font-weight: 1000;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}



body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(109, 168, 202);
    font-size: 20px;
    margin: 0
}



a {
    text-decoration: none;
    font-weight: bold;
    font-size: 27px;
} a.word,
h1, h2, a.title {
    color: rgb(45, 95, 128);
} a.word:hover,
a.title:hover {
    color: rgb(136, 211, 255);
}

hr {
    height: 1px;
    background-color: rgb(109, 168, 202);
    border: none;
}


summary::before {
    content: "#";
    margin-right: 10px;
} summary {
    list-style-type:none;
    margin-bottom: 20px;
} 








/* 
the FOOTER, other
 */
 footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.toPage-buttons_container {
    position: fixed;
    padding: 0 3px;
    top: 0;
    bottom: 0;
    top: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.toPage-buttons {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 99.3%;
    pointer-events: none;
}

button {
    display: flex;
    border: none;
}

a.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    color: rgb(121, 178, 228);
    background-color: white;
    font-size: 20px;
    height: 100px;
    width: 40px;
    pointer-events: auto;
    /* margin: 0 10px; */
} 
a.button:hover {
    background-color: rgb(48,125,176);
    color: white;
    font-weight: bold;
}

.shuffle-container {
    display: flex;
    gap: 5px;
}

button.shuffle {
    background-color: transparent;
}

#shuffle-img {
    width: 50px;
    height: auto;
    border: none;
}
